<div class="container mt-5" style="width: 35rem; padding: 35px;">
    <form action="/add" method="post">
        <select name="example" class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option value="0">compiuter</option>
            <option value="1">telephones</option>
            <option value="2">headphones</option>
            <option value="3">amplifier</option>
          </select>
        <div class="mb-3">
            <label for="" class="form-label">img</label>
            <input type="file" class="form-control" id="name"  name="image">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">GADGET name</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="name">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">GADGET the number</label>
            <input type="number" class="form-control" id="number1" name="number1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>