<div class="container mt-5" style="width: 35rem; padding: 35px;">
    <form action="/edit" method="post">
        <select class="form-select" multiple aria-label="multiple select example">
            <option value="1">telephones</option>
            <option value="2">headphones</option>
            <option value="3">amplifier</option>
            <option value="4">computer</option>
          </select>
        <div class="mb-3">
            <label for="" class="form-label">GADGET name</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="name">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">GADGET the number</label>
            <input type="number" class="form-control" id="number" name="number">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>