<div class="container">
    <img src="https://i.insider.com/5df9348bacb8fb166b50be06?width=700" srcset="https://i.insider.com/5df9348bacb8fb166b50be06?width=400&amp;format=jpeg&amp;auto=webp 400w, https://i.insider.com/5df9348bacb8fb166b50be06?width=500&amp;format=jpeg&amp;auto=webp 500w, https://i.insider.com/5df9348bacb8fb166b50be06?width=700&amp;format=jpeg&amp;auto=webp 700w, https://i.insider.com/5df9348bacb8fb166b50be06?width=1000&amp;format=jpeg&amp;auto=webp 1000w, https://i.insider.com/5df9348bacb8fb166b50be06?width=1300&amp;format=jpeg&amp;auto=webp 1300w, https://i.insider.com/5df9348bacb8fb166b50be06?width=2000&amp;format=jpeg&amp;auto=webp 2000w" sizes="(min-width: 1350px) 1000px" alt="apple ecosystem" decoding="async">
</div>
<div>
    <%= title %>
</div>
<div >
<% if (user == "") { %> 
        <a href="/signin" class="btn btn-danger">signin</a>
    <% } %>
</div>